html, body {
    margin: 0; 
    padding: 0; 
    background-color: #0000FF; 
    color: #FFF;
}

button {
    background-color: #FFF;
    color: #0000FF;
}

#tvshow {
    padding: 1%; 
}

.strong {
    font-weight: bolder; 
    font-size: 1.5rem; 
}

.center {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 0 25%; 
    padding: 0 3%; 
}

.marginTopTwenty {
    margin-top: 16%; 
}

.marginTopTwo {
    margin-top: 2%; 
}

.marginBottomTen {
    margin-bottom: 10%; 
}

.hideText {
    color: transparent;
}

.showText {
    color: #FFF;
    text-align: center;
}

.whiteBackground {
    background-color: #FFF;
    color: #1a1a1a;
    border-radius: 25px; 
}

.whiteText {
    color: #0000FF; 
}